Repository voxpupuli/puppet-zabbix, pull requests merged in 2018-06, with the labels that each got.

#469 Support SSL parameters for web monitoring in all versions >= 2.4
  spec/classes/server_spec.rb
  templates/zabbix_server.conf.erb
Labels: enhancement

#507 Fix missing enable for zabbix::proxy
  manifests/proxy.pp
  spec/classes/proxy_spec.rb
Labels: bug

#506 release 6.3.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
