Repository voxpupuli/puppet-zabbix, pull requests merged in 2018-12, with the labels that each got.

#568 Add zabbix_package_state to the zabbix class to allow upgrade of se…
  manifests/init.pp
Labels: bug

#577 Add Zabbix 3.4 and 4.0 support
  manifests/web.pp
Labels: enhancement

#574 modulesync 2.3.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
Labels: modulesync

#538 Make repo_location usable
  manifests/repo.pp
  spec/classes/repo_spec.rb
Labels: enhancement

#578 release 6.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#583 modulesync 2.4.0
  .msync.yml
Labels: modulesync
