Repository voxpupuli/puppet-zabbix, pull requests merged in 2018-03, with the labels that each got.

#488 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#491 add ability to manage ZBX_SERVER_NAME in web class
  manifests/web.pp
  spec/classes/web_spec.rb
  templates/web/zabbix.conf.php.erb
Labels: enhancement

#487 Do not guess ListenIP, fixes #473, bump stdlib to 4.19.0
  manifests/agent.pp
  metadata.json
  spec/classes/agent_spec.rb
Labels: bug

#492 release 6.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#494 Fix listen_ip bug and relax interface regex
  manifests/agent.pp
  spec/acceptance/agent_spec.rb
Labels: bug

#495 release 6.3.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
