Repository voxpupuli/puppet-zabbix, pull requests merged in 2018-10, with the labels that each got.

#550 modulesync 2.2.0
  .msync.yml
  spec/spec_helper.rb
Labels: modulesync

#548 Add Zabbix 4.0 compatibility
  manifests/database/mysql.pp
  manifests/database/postgresql.pp
  manifests/userparameters.pp
  spec/acceptance/agent_spec.rb
Labels: enhancement

#545 Gentoo service fix
  manifests/agent.pp
  manifests/server.pp
  manifests/startup.pp
  manifests/userparameters.pp
Labels: enhancement

#551 release 6.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#552 Fix proxy documentation
  README.md
Labels: docs
