Repository voxpupuli/puppet-zabbix, pull requests merged in 2018-08, with the labels that each got.

#516 Add missing enable => true for zabbix-java-gateway
  manifests/javagateway.pp
  manifests/proxy.pp
  spec/classes/javagateway_spec.rb
Labels: bug

#520 release 6.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#525 modulesync 1.9.6
  .msync.yml
  Gemfile
Labels: modulesync

#527 release 6.4.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#528 Fix missing $ in repo definition for Debian sid
  manifests/repo.pp
Labels: bug

#529 release 6.4.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
