Repository voxpupuli/puppet-zabbix, pull requests merged in 2019-10, with the labels that each got.

#624 puppetlabs/mysql: allow 10.x & zabbix-server: start server after initfile is created
  manifests/server.pp
  metadata.json
  spec/classes/agent_spec.rb
  spec/classes/sender_spec.rb
  spec/defines/startup_spec.rb
Labels: bug

#628 drop legacy puppetlabs/pe_gem dependency & cleanup code
  .fixtures.yml
  manifests/params.pp
  metadata.json
  spec/classes/web_spec.rb
Labels: backwards-incompatible

#629 release v7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#626 Explicitly use 'ensure => file' for normal file resources
  manifests/agent.pp
  manifests/database/postgresql.pp
  manifests/javagateway.pp
  manifests/proxy.pp
  manifests/resources/template.pp
  manifests/server.pp
  manifests/web.pp
  manifests/zapache.pp
Labels: enhancement
