Repository voxpupuli/puppet-zabbix, pull requests merged in 2019-06, with the labels that each got.

#611 modulesync 2.7.0
  .msync.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/database.pp
  manifests/init.pp
  manifests/proxy.pp
  manifests/sender.pp
  manifests/server.pp
  spec/spec_helper.rb
Labels: modulesync

#612 Add support for specifying unsupported repo location.
  manifests/params.pp
  manifests/repo.pp
  spec/classes/repo_spec.rb
Labels: enhancement, tests-fail

#610 Allow puppetlabs/apache 5.x, puppetlabs/concat 6.x, puppetlabs/firewall 2.x, puppetlabs/mysql 9.x, puppetlabs/stdlib 6.x; drop puppetlabs/ruby dependency
  README.md
  manifests/web.pp
  metadata.json
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/classes/database_spec.rb
  spec/classes/web_spec.rb
Labels: backwards-incompatible
