Repository voxpupuli/puppet-zabbix, pull requests merged in 2020-01, with the labels that each got.

#639 drop Ubuntu 14.04 support
  .sync.yml
  .travis.yml
  metadata.json
Labels: backwards-incompatible

#642 Implement self.prefetch for zabbix_proxy
  lib/puppet/provider/zabbix_proxy/ruby.rb
  lib/puppet/type/zabbix_proxy.rb
  manifests/proxy.pp
  manifests/resources/proxy.pp
  spec/unit/puppet/provider/zabbix_proxy/ruby.rb
  spec/unit/puppet/type/zabbix_proxy_spec.rb
Labels: backwards-incompatible

#636 modulesync 2.10.1
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/agent.pp
  manifests/params.pp
  manifests/proxy.pp
  manifests/repo.pp
  manifests/server.pp
  manifests/userparameters.pp
  manifests/web.pp
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
  spec/spec_helper.rb
  spec/unit/puppet/provider/zabbix_host/ruby.rb
  spec/unit/puppet/provider/zabbix_hostgroup/ruby.rb
  spec/unit/puppet/provider/zabbix_proxy/ruby.rb
  spec/unit/puppet/type/zabbix_host_spec.rb
  spec/unit/puppet/type/zabbix_hostgroup_spec.rb
  spec/unit/puppet/type/zabbix_proxy_spec.rb
  spec/unit/puppet/type/zabbix_template_spec.rb
Labels: modulesync

#650 Add logtype parameter for zabbix server (issue #394)
  manifests/params.pp
  manifests/server.pp
  spec/classes/server_spec.rb
  templates/zabbix_server.conf.erb
Labels: enhancement
