Repository voxpupuli/puppet-zabbix, pull requests merged in 2020-02, with the labels that each got.

#653 Allow to delete a zabbix_proxy
  lib/puppet/provider/zabbix_proxy/ruby.rb
  spec/unit/puppet/provider/zabbix_proxy/ruby.rb
Labels: enhancement

#648 zabbix.com repository for Raspbian Linux
  manifests/repo.pp
  metadata.json
Labels: enhancement, needs-work

#654 release 8.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#656 Add support for HostInterface and HostInterfaceItem (4.4 Enhancement)
  manifests/agent.pp
  manifests/params.pp
  spec/classes/agent_spec.rb
  templates/zabbix_agentd.conf.erb
Labels: enhancement
