Repository voxpupuli/puppet-zabbix, pull requests merged in 2020-04, with the labels that each got.

#670 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
  spec/unit/puppet/provider/zabbix_host/ruby.rb
  spec/unit/puppet/provider/zabbix_hostgroup/ruby.rb
  spec/unit/puppet/provider/zabbix_proxy/ruby.rb
  spec/unit/puppet/type/zabbix_host_spec.rb
  spec/unit/puppet/type/zabbix_hostgroup_spec.rb
  spec/unit/puppet/type/zabbix_proxy_spec.rb
  spec/unit/puppet/type/zabbix_template_spec.rb
Labels: modulesync, tests-fail

#666 Drop Debian 8 / Add Debian 9 support
  .sync.yml
  .travis.yml
  .travis/setup.sh
  metadata.json
  spec/acceptance/agent_spec.rb
Labels: backwards-incompatible, tests-fail

#669 Fix zabbix::proxy idempotency
  manifests/proxy.pp
Labels: bug

#675 Add zabbix-agent support on windows
  .fixtures.yml
  manifests/agent.pp
  manifests/params.pp
  manifests/startup.pp
  metadata.json
  spec/classes/agent_spec.rb
  spec/classes/database_mysql_spec.rb
  spec/classes/database_postgresql_spec.rb
  spec/classes/database_spec.rb
  spec/classes/javagateway_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/sender_spec.rb
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
  spec/defines/startup_spec.rb
  spec/defines/userparameters_spec.rb
  templates/zabbix_agentd.conf.erb
Labels: enhancement

#663 Fix type error on zabbix_proxy delete
  lib/puppet/provider/zabbix_proxy/ruby.rb
  spec/acceptance/zabbix_proxy_spec.rb
Labels: bug

#671 Add support for defining host's macros
  lib/puppet/provider/zabbix_host/ruby.rb
  lib/puppet/type/zabbix_host.rb
  manifests/agent.pp
  manifests/resources/agent.pp
  spec/acceptance/zabbix_host_spec.rb
  spec/types/zabbix_host_spec.rb
  spec/unit/puppet/provider/zabbix_host/ruby.rb
  spec/unit/puppet/type/zabbix_host_spec.rb
Labels: enhancement

#682 Cleanup and fix acceptance test helper
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/spec_helper_acceptance.rb
  spec/support/acceptance/cleanup_zabbix.rb
Labels: bug

#679 Improve `zabbix_proxy` type
  lib/puppet/provider/zabbix.rb
  lib/puppet/provider/zabbix_proxy/ruby.rb
  lib/puppet/type/zabbix_proxy.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/unit/puppet/type/zabbix_proxy_spec.rb
Labels: enhancement

#674 Add Debian 10 support
  .sync.yml
  .travis.yml
  Gemfile
  manifests/params.pp
  metadata.json
  spec/acceptance/agent_spec.rb
  spec/acceptance/server_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/agent_spec.rb
  spec/classes/sender_spec.rb
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
  spec/support/acceptance/cleanup_zabbix.rb
Labels: enhancement

#680 modulesync 2.12.0 / zabbix::web: Allow httpd to speak to the database
  .travis.yml
  Gemfile
  manifests/web.pp
  spec/acceptance/agent_spec.rb
  spec/spec_helper_acceptance.rb
Labels: bug
