Repository voxpupuli/puppet-zabbix, pull requests merged in 2021-09, with the labels that each got.

#791 Bump lower bound of systemd to 3.1.0
  metadata.json
Labels: backwards-incompatible

#784 Add Debian 11 support
  manifests/agent.pp
  manifests/proxy.pp
  manifests/repo.pp
  manifests/server.pp
  manifests/web.pp
  metadata.json
  spec/acceptance/agent_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
Labels: enhancement

#794 Require startup script for the zabbix agent service
  manifests/agent.pp
  spec/classes/agent_spec.rb
Labels: bug

#796 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync

#790 Allow MSI package install on Windows
  README.md
  manifests/agent.pp
  spec/classes/agent_spec.rb
Labels: enhancement
