Repository voxpupuli/puppet-zabbix, pull requests merged in 2021-05, with the labels that each got.

#756 Fix templates importing in Zabbix 5.2+
  README.md
  lib/puppet/provider/zabbix_template/ruby.rb
  lib/puppet/type/zabbix_template.rb
  manifests/resources/template.pp
  manifests/template.pp
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
Labels: bug

#757 Add Ubuntu 18.04 and 20.04 support
  metadata.json
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/support/acceptance/prepare_host.rb
Labels: enhancement

#759 Enable Debian 10 acceptance tests
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/support/acceptance/prepare_host.rb
Labels: enhancement

#758 Allow non-default port database importing
  manifests/database/mysql.pp
  manifests/database/postgresql.pp
  manifests/proxy.pp
  manifests/server.pp
  spec/classes/database_mysql_spec.rb
  spec/classes/database_postgresql_spec.rb
  spec/classes/server_spec.rb
Labels: enhancement

#761 Fix README regarding zbx_group(s) deprecation and fix small bug so de…
  README.md
  manifests/resources/agent.pp
Labels: bug, docs

#762 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/database_mysql_spec.rb
  spec/classes/database_postgresql_spec.rb
  spec/classes/web_spec.rb
  spec/support/acceptance/prepare_host.rb
Labels: modulesync

#766 Support sslcertlocation & sslkeylocation for zabbix proxy
  manifests/params.pp
  manifests/proxy.pp
  spec/classes/proxy_spec.rb
  templates/zabbix_proxy.conf.erb
Labels: enhancement

#765 Ensure consistent use of logtype and logfile across agent/server/proxy
  manifests/agent.pp
  manifests/init.pp
  manifests/params.pp
  manifests/proxy.pp
  manifests/server.pp
  spec/classes/agent_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/server_spec.rb
  templates/zabbix_agentd.conf.erb
  templates/zabbix_proxy.conf.erb
  templates/zabbix_server.conf.erb
Labels: bug

#764 Allow to pass LDAP settings to zabbix class
  manifests/init.pp
  manifests/web.pp
  spec/classes/web_spec.rb
  templates/web/zabbix.conf.php.erb
Labels: enhancement

#763 Implement additional SAML settings
  README.md
  manifests/init.pp
  manifests/params.pp
  manifests/web.pp
  spec/classes/web_spec.rb
  templates/web/zabbix.conf.php.erb
Labels: enhancement

#741 release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#768 Add StartPreprocessors option
  manifests/init.pp
  manifests/params.pp
  manifests/proxy.pp
  manifests/server.pp
  spec/classes/proxy_spec.rb
  spec/classes/server_spec.rb
  templates/zabbix_proxy.conf.erb
  templates/zabbix_server.conf.erb
Labels: enhancement
