Repository voxpupuli/puppet-zabbix, pull requests merged in 2021-08, with the labels that each got.

#776 Add Zabbix 5.4 support
  .sync.yml
  lib/puppet/provider/zabbix.rb
  lib/puppet/provider/zabbix_template/ruby.rb
  manifests/database/mysql.pp
  manifests/database/postgresql.pp
  manifests/proxy.pp
  manifests/server.pp
  manifests/web.pp
  spec/acceptance/agent_spec.rb
  spec/acceptance/server_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/database_mysql_spec.rb
  spec/classes/database_postgresql_spec.rb
  spec/classes/web_spec.rb
  spec/spec_helper.rb
  spec/support/acceptance/supported_versions.rb
Labels: enhancement

#778 Release 9.1.0
  CHANGELOG.md
  Gemfile
  metadata.json
Labels: skip-changelog

#780 Update README.md with new badges/transfer notice
  README.md
Labels: docs

#779 modulesync 4.1.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#781 Use puppet-strings annotations/Generate REFERENCE.md
  .sync.yml
  Gemfile
  README.md
  REFERENCE.md
  manifests/agent.pp
  manifests/database.pp
  manifests/database/mysql.pp
  manifests/database/postgresql.pp
  manifests/database/sqlite.pp
  manifests/init.pp
  manifests/javagateway.pp
  manifests/params.pp
  manifests/proxy.pp
  manifests/repo.pp
  manifests/resources/agent.pp
  manifests/resources/proxy.pp
  manifests/resources/template.pp
  manifests/resources/userparameters.pp
  manifests/resources/web.pp
  manifests/sender.pp
  manifests/server.pp
  manifests/startup.pp
  manifests/template.pp
  manifests/userparameter.pp
  manifests/userparameters.pp
  manifests/web.pp
  manifests/zapache.pp
  types/databases.pp
Labels: docs

#783 Modulesync 4.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Gemfile
Labels: modulesync

#785 Added details to host network interface to configure SNMP hosts
  lib/puppet/provider/zabbix_host/ruby.rb
  lib/puppet/type/zabbix_host.rb
  manifests/agent.pp
  manifests/resources/agent.pp
  spec/acceptance/zabbix_host_spec.rb
Labels: bug
