Repository voxpupuli/puppet-zabbix, pull requests merged in 2022-12, with the labels that each got.

#854 Configure DirectoryIndex by default
  manifests/web.pp
Labels: bug

#851 use provided database port in pgpass
  manifests/database/postgresql.pp
  spec/classes/database_postgresql_spec.rb
Labels: bug

#826 Propagate `default_vhost` to zabbix::web
  manifests/init.pp
Labels: bug

#844 modulesync 5.3.0
  Rakefile
Labels: modulesync

#848 Certificate authentication in zabbix_host resource
  lib/puppet/provider/zabbix_host/ruby.rb
  lib/puppet/type/zabbix_host.rb
  manifests/agent.pp
  manifests/resources/agent.pp
  spec/acceptance/zabbix_host_spec.rb
Labels: enhancement
