Repository voxpupuli/puppet-zabbix, pull requests merged in 2023-10, with the labels that each got.

#874 modulesync 7.0.0
  .fixtures.yml
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  .pmtignore
  .rubocop_todo.yml
  Gemfile
  Rakefile
  manifests/repo.pp
  metadata.json
  spec/classes/repo_spec.rb
  spec/spec_helper.rb
  spec/unit/puppet/type/zabbix_template_spec.rb
Labels: modulesync

#888 Drop Debian 10 and Ubuntu 18.04 support
  metadata.json
  spec/spec_helper_methods.rb
Labels: backwards-incompatible

#889 Drop support for Windows 2012 and 2012 R2
  metadata.json
  spec/spec_helper_methods.rb
Labels: backwards-incompatible

#886 Drop support for Zabbix 5.2 and 5.4 which are EOL upstream
  README.md
  REFERENCE.md
  manifests/agent.pp
  manifests/javagateway.pp
  manifests/proxy.pp
  manifests/server.pp
  manifests/web.pp
  spec/acceptance/agent_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
  spec/support/acceptance/supported_versions.rb
Labels: backwards-incompatible

#890 remove more Zabbix 5.4 special cases now that it's unsupported
  manifests/database/mysql.pp
  manifests/database/postgresql.pp
  spec/classes/database_mysql_spec.rb
  spec/classes/database_postgresql_spec.rb
Labels: skip-changelog

#891 Drop support for Zabbix 4.0
  manifests/web.pp
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/repo_spec.rb
  spec/classes/web_spec.rb
  spec/support/acceptance/supported_versions.rb
Labels: backwards-incompatible

#878 Allow puppetlabs/stdlib 9.x, puppetlabs/postgresql 9.x, puppetlabs/mysql 15.x, pyppetlabs/apache 11.x, puppetlabs/apt 9.x, puppet/systemd 6.x, puppet/selinux 4.x
  metadata.json
Labels: enhancement

#892 don't call puppet multiple times in prepare host for acceptance
  spec/support/acceptance/prepare_host.rb
Labels: enhancement

#887 OracleLinux fixes
  manifests/database/postgresql.pp
  manifests/proxy.pp
  manifests/repo.pp
  manifests/web.pp
  spec/acceptance/server_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/database_postgresql_spec.rb
  spec/classes/repo_spec.rb
Labels: bug

#895 increase default CacheSize to 32M, the default in 6.0
  manifests/params.pp
  spec/acceptance/server_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/server_spec.rb
Labels: backwards-incompatible

#894 install Zabbix 6.0 by default everywhere but EL7
  manifests/params.pp
  spec/classes/agent_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/sender_spec.rb
  spec/classes/server_spec.rb
Labels: backwards-incompatible

#896 execute zabbix::proxy tests everywhere
  spec/classes/proxy_spec.rb
Labels: enhancement

#879 Add Puppet 8 support
  metadata.json
Labels: enhancement

#897 add support for AlmaLinux and Rocky 8 and 9
  metadata.json
Labels: enhancement

#872 Use structured $facts hash syntax in spec tests
  spec/classes/agent_spec.rb
  spec/classes/database_spec.rb
  spec/classes/javagateway_spec.rb
  spec/classes/sender_spec.rb
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
  spec/defines/userparameters_spec.rb
Labels: enhancement

#871 Add unit tests to reach 100% resource coverage
  spec/classes/agent_spec.rb
  spec/classes/database_mysql_spec.rb
  spec/classes/javagateway_spec.rb
  spec/classes/repo_spec.rb
  spec/classes/sender_spec.rb
  spec/classes/server_spec.rb
  spec/classes/web_spec.rb
Labels: enhancement

#866 add documentation to satisfy linting
  REFERENCE.md
  lib/puppet/provider/zabbix_application/ruby.rb
  lib/puppet/provider/zabbix_host/ruby.rb
  lib/puppet/provider/zabbix_hostgroup/ruby.rb
  lib/puppet/provider/zabbix_proxy/ruby.rb
  lib/puppet/provider/zabbix_template/ruby.rb
  lib/puppet/provider/zabbix_template_host/ruby.rb
  lib/puppet/provider/zabbix_userparameters/ruby.rb
  lib/puppet/type/zabbix_application.rb
  lib/puppet/type/zabbix_host.rb
  lib/puppet/type/zabbix_hostgroup.rb
  lib/puppet/type/zabbix_proxy.rb
  lib/puppet/type/zabbix_template.rb
  lib/puppet/type/zabbix_template_host.rb
  lib/puppet/type/zabbix_userparameters.rb
  types/historyics.pp
Labels: docs

#898 puppetlabs/firewall: Require 7.x
  .fixtures.yml
  manifests/agent.pp
  manifests/javagateway.pp
  manifests/proxy.pp
  manifests/server.pp
  metadata.json
Labels: backwards-incompatible

#899 drop pidfile_workaround
  .github/workflows/ci.yml
  .sync.yml
Labels: skip-changelog

#901 gha-puppet v2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .sync.yml
  Gemfile
  spec/support/acceptance/supported_versions.rb
Labels: modulesync
