Repository voxpupuli/puppet-zabbix, pull requests merged in 2023-11, with the labels that each got.

#905 Better Hiera compatibility
  README.md
  REFERENCE.md
  manifests/database.pp
  manifests/web.pp
  spec/acceptance/hieradata/common.yaml
  spec/acceptance/hieradata/os/RedHat/8.yaml
  spec/acceptance/server_spec.rb
  spec/acceptance/zabbix_application_spec.rb
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/database_mysql_spec.rb
  spec/classes/database_spec.rb
  spec/classes/proxy_spec.rb
  spec/classes/web_spec.rb
Labels: enhancement

#906 remove old version comparison guards for Zabbix pre 5.0
  manifests/params.pp
  manifests/repo.pp
  manifests/web.pp
  spec/classes/web_spec.rb
  templates/zabbix_agentd.conf.erb
  templates/zabbix_proxy.conf.erb
  templates/zabbix_server.conf.erb
Labels: enhancement

#903 move zabbixapi gem installation into own class
  REFERENCE.md
  manifests/web.pp
  manifests/zabbixapi.pp
  spec/support/acceptance/prepare_host.rb
Labels: enhancement

#907 drop naizvoru.com arm repo for Debian
  manifests/repo.pp
Labels: backwards-incompatible

#867 Add support for FreeBSD only for Zabbix Agent
  manifests/params.pp
  manifests/startup.pp
  metadata.json
Labels: enhancement

#909 Remove deprecated zabbix_host.group, zabbix::agent::zbx_group, zabbix::resources::agent::group parameters
  REFERENCE.md
  lib/puppet/type/zabbix_host.rb
  manifests/agent.pp
  manifests/params.pp
  manifests/resources/agent.pp
  spec/acceptance/zabbix_template_host_spec.rb
  spec/types/zabbix_host_spec.rb
  spec/unit/puppet/type/zabbix_host_spec.rb
Labels: backwards-incompatible

#908 add support for arm64 Debian and Ubuntu repos
  manifests/repo.pp
  spec/classes/repo_spec.rb
Labels: enhancement

#910 use www-data on all Debian family systems, not only on Debian and Ubuntu
  manifests/params.pp
Labels: bug

#911 don't specialcase oracle in the repo config
  manifests/repo.pp
Labels: enhancement

#912 drop last bits of Fedora support
  manifests/params.pp
  spec/classes/agent_spec.rb
Labels: backwards-incompatible

#881 Add support for ODBC pollers in Zabbix >= 6.0
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  manifests/proxy.pp
  manifests/server.pp
  spec/classes/proxy_spec.rb
  spec/classes/server_spec.rb
  templates/zabbix_proxy.conf.erb
  templates/zabbix_server.conf.erb
Labels: enhancement
