Repository voxpupuli/puppet-zabbix, pull requests merged in 2024-06, with the labels that each got.

#949 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#952 Add zabbix 7.0 support in CI
  .github/workflows/ci.yml
  manifests/repo.pp
  spec/acceptance/zabbix_host_spec.rb
  spec/acceptance/zabbix_hostgroup_spec.rb
  spec/acceptance/zabbix_proxy_spec.rb
  spec/acceptance/zabbix_template_host_spec.rb
  spec/acceptance/zabbix_template_spec.rb
  spec/classes/database_mysql_spec.rb
  spec/classes/database_postgresql_spec.rb
  spec/setup_acceptance_node.pp
  spec/support/acceptance/supported_versions.rb
Labels: enhancement

#956 Update `README.md`
  README.md
Labels: skip-changelog

#965 Change `manage_startup_script` default to false
  manifests/params.pp
  spec/classes/agent_spec.rb
  spec/classes/server_spec.rb
  spec/defines/userparameters_spec.rb
Labels: backwards-incompatible
