Repository voxpupuli/puppet-zabbix, pull requests merged in 2024-03, with the labels that each got.

#920 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#921 Add and remove Zabbix 6.0 + 6.4 options (HA mode, StatsAllowedIP, ProxyConfigFrequency, HeartbeatFrequency)
  REFERENCE.md
  manifests/params.pp
  manifests/proxy.pp
  manifests/server.pp
  spec/classes/web_spec.rb
  templates/web/zabbix.conf.php.erb
  templates/zabbix_proxy.conf.erb
  templates/zabbix_server.conf.erb
Labels: enhancement

#934 Release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#938 puppetlabs/firewall: Allow 8.x
  metadata.json
Labels: enhancement
